<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORMPORTLET-->
        <div id="width-form" class="widget green">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> Nuevo Cliente </h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            <div class="widget-body">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal" method="POST">
                    <div class="control-group">
                        <label class="control-label">Nombre</label>
                        <div class="controls">
                            <input type="text" class="input-large" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Primer apellido</label>
                        <div class="controls">
                            <input type="text" class="input-large" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Segundo apellido</label>
                        <div class="controls">
                            <input type="text" class="input-large" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Dirección</label>
                        <div class="controls">
                            <input type="text" class="input-large" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">NIF</label>
                        <div class="controls">
                            <input type="text" placeholder="" class="input-small" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fecha de nacimiento</label>
                        <div class="controls">
                            <input id="dp1" type="date" class="m-ctrl-medium">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email Address Input</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">@</span><input class=" " type="text" placeholder="Email Address" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Telefono</label>
                        <div class="controls">
                            <input type="text" placeholder="" data-mask="999-999-999" class="input-medium">
                            <span class="help-inline">999-999-999</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Comentarios</label>
                        <div class="controls">
                            <textarea class="input-large" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>